
.forecast-heading {
    width: 30%;
    font-size: 2rem;
    padding: 20px;
    margin: 25px;
    text-align: start;
    margin-left: 100px;
    border-bottom: 1px solid #333;
}

.forecast-container {
    display: flex;
    gap: 3rem;
    justify-content: center;
}

.forecast-display {
    padding: 0px 20px;
    line-height: 10px;
    transition: transform 0.25s ease;
}

.forecast-display:hover {
    transform: translateY(-5px);
}

.forecast-display img {
    height: 160px;
    width: 160px;
}

@media screen and (min-width: 1441px) {
    /* styles for larger screens here */
    .forecast-container {
        gap: 7rem;
    }
}

@media (max-width: 1122px) {
    /* CSS that should be displayed if width is equal to or less than 800px goes here */
    .forecast-container {
        flex-wrap: wrap;
        gap: 2rem;
    }
}

@media (max-width: 768px) {
    .forecast-heading {
        width: 50%;
        margin-left: 50px;
    }
}

@media (max-width: 480px) {

    .forecast-heading {
        width: 70%;
        font-size: 2rem;
        text-align: center;
        margin: 40px 0px 10px 40px;
        border: none;
    }

    .forecast-container {
        gap: 1rem;
        margin-left: 15px;
    }

    .forecast-display {
        border: 1px solid #333;
        border-radius: 8px;
        padding: 10px 50px;
        margin-bottom: 5px;
    }

    .forecast-display img {
        height: 200px;
        width: 200px;
        margin-bottom: 10px;
    }
}