
.forecast-heading {
    width: 30%;
    font-size: 2rem;
    padding: 20px;
    margin-top: 15px;
    text-align: start;
    margin-left: 100px;
    border-bottom: 1px solid #333;
}

.forecast-container {
    display: flex;
    gap: 4rem;
    justify-content: center;
}

.forecast-display {
    padding: 10px;
    line-height: 10px;
    transition: transform 0.25s ease;
}

.forecast-display:hover {
    transform: translateY(-5px);
}

.forecast-display img {
    height: 160px;
    width: 160px;
}

@media (max-width: 1122px) {
    /* CSS that should be displayed if width is equal to or less than 800px goes here */
    .forecast-container {
        flex-wrap: wrap;
        gap: 2rem;
    }
}

@media (max-width: 480px) {

    .forecast-heading {
        width: 70%;
        font-size: 2rem;
        margin-left: 40px;
        text-align: center;
        margin-top: 50px;
    }

    .forecast-container {
        gap: 0.5rem;
    }

    .forecast-display {
        padding: 20px;
        margin-left: 15px;
    }

    .forecast-display img {
        height: 180px;
        width: 180px;
    }
}