.chart-container {
    width: 80%;
    margin: auto;
    text-align: center;
    cursor: pointer;
}

.recharts-wrapper {
    cursor: pointer;
}



@media (max-width: 480px) {
    .chart-container {
        width: 100%;
    }
}
