.chart-container {
    width: 80%;
    margin: auto;
    text-align: center;
    cursor: pointer;
    margin-top: -5px;
}

.recharts-wrapper {
    cursor: pointer;
}

.chart-header {
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
}

.unit-toggle-button {
    background-color: #333;
    border-radius: 70px;
    padding: 8px 16px;
    margin-bottom: -10px;
    cursor: pointer;
    font-weight: bold;
    transition: border-color 0.3s ease;
}

.unit-toggle-button:hover {
    border-color: #FFBF00;
}



@media (max-width: 480px) {
    .chart-container {
        width: 100%;
    }

    .unit-toggle-button {
        margin-bottom: 0;
        width: auto;
    }
}
